


* {
    margin: 10; 
   padding: 15;
}



 

.content {
    display: flex;
    margin: 100px 50px 50px 50px;
    font-family: sans-serif;
}

#area {
    width: 156px;
    border: 8px solid rgb(28, 26, 26);
    margin: 0 auto;
    font-size: 0;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 29px;
    border: 1px solid rgb(185, 26, 26);
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover {
    background-color: #F1F1F1;
}

.currentPlayer {
    width: 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}